@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h1>@ViewBag.Title Us</h1>
    <p class="lead">
        We are a honest, hardworking software development company that has a proven track record for
        customer satisfaction. We joined forced about a week ago and so far, we are taking the world
        by storm. Sign up and join us on our global conquest for more gold and absolute power.
    </p>
</div>

