@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h1>@ViewBag.Title Us</h1>
    <p class="lead">
        Random Sin Productions was established in 2013 by it's two co-founders, Joel Abney and Frank Settle, to
        make games and utility apps that are fun and productive.  <br /><br />
        "Our Mission is to produce art and code with purpose. 
        Whether entertainment or utilitarian. Our goal is to make products that have meaning in our lives, bring some 
        to yours and to do it well."
    </p>
</div>

