@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>RSP - Ticket Tracker</h1>
    <p class="lead">
        Ticket Tracker is a convenient way for our customers to communicate their concerns with our developement team.
        After you validate your user account you can create tickets for any issue you may have. Whether it's an error you've 
        experienced or a suggestion to improve our products, we want to hear from you.<br /><br /> 
        Thank's for downloading our apps and we look forward to hearing from you.
    </p>
    <p><a href="http://randomsinproductions.com" target="_blank" class="btn btn-primary btn-lg">Our Website &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            Log in or create an account to submit a ticket. Click the "Log In" tab at the top to create a local account or
            use our one click login by linking to your Google account.
        </p>
    </div>
</div>